{% extends "layout/default.html" %}

{% block content %}
  <h1>{{ pageTitle }}</h1>

  <h3>Text button</h3>

  <div class="grid xs:2 md:4 has-margin">
    <div class="flex justify-center">
      <button class="button text blue" data-interaction="ripple">Button</button>
    </div>
    <div class="flex justify-center">
      <button class="button text blue" disabled data-interaction="ripple">Button</button>
    </div>
    <div class="flex justify-center">
      <button class="button text blue" data-interaction="ripple">
        Button
        <span class="button__icon icons material">star</span>
      </button>
    </div>
    <div class="flex justify-center">
      <button class="button text icon-end blue" data-interaction="ripple">
        Button
        <span class="button__icon icons material">star</span>
      </button>
    </div>

    <div class="flex justify-center">
      <button class="button text pill blue" data-interaction="ripple">Button</button>
    </div>
    <div class="flex justify-center">
      <button class="button text pill blue" disabled data-interaction="ripple">Button</button>
    </div>
    <div class="flex justify-center">
      <button class="button text pill blue" data-interaction="ripple">
        Button
        <span class="button__icon icons material">star</span>
      </button>
    </div>
    <div class="flex justify-center">
      <button class="button text pill icon-end blue" data-interaction="ripple">
        Button
        <span class="button__icon icons material">star</span>
      </button>
    </div>
  </div>

  <h3>Outlined button</h3>

  <div class="grid xs:2 md:4 has-margin">
    <div class="flex justify-center">
      <button class="button outlined green" data-interaction="ripple">Button</button>
    </div>
    <div class="flex justify-center">
      <button class="button outlined green" disabled data-interaction="ripple">Button</button>
    </div>
    <div class="flex justify-center">
      <button class="button outlined green" data-interaction="ripple">
        Button
        <span class="button__icon icons material">star</span>
      </button>
    </div>
    <div class="flex justify-center">
      <button class="button outlined icon-end green" data-interaction="ripple">
        Button
        <span class="button__icon icons material">star</span>
      </button>
    </div>

    <div class="flex justify-center">
      <button class="button outlined pill green" data-interaction="ripple">Button</button>
    </div>
    <div class="flex justify-center">
      <button class="button outlined pill green" disabled data-interaction="ripple">Button</button>
    </div>
    <div class="flex justify-center">
      <button class="button outlined pill green" data-interaction="ripple">
        Button
        <span class="button__icon icons material">star</span>
      </button>
    </div>
    <div class="flex justify-center">
      <button class="button outlined pill icon-end green" data-interaction="ripple">
        Button
        <span class="button__icon icons material">star</span>
      </button>
    </div>
  </div>

  <h3>Filled button</h3>

  <div class="grid xs:2 md:4 has-margin">
    <div class="flex justify-center">
      <button class="button filled indigo" data-interaction="ripple">Button</button>
    </div>
    <div class="flex justify-center">
      <button class="button filled indigo" disabled data-interaction="ripple">Button</button>
    </div>
    <div class="flex justify-center">
      <button class="button filled indigo" data-interaction="ripple">
        Button
        <span class="button__icon icons material">star</span>
      </button>
    </div>
    <div class="flex justify-center">
      <button class="button filled icon-end indigo" data-interaction="ripple">
        Button
        <span class="button__icon icons material">star</span>
      </button>
    </div>
    <div class="flex justify-center">
      <button class="button filled pill indigo" data-interaction="ripple">Button</button>
    </div>
    <div class="flex justify-center">
      <button class="button filled pill indigo" disabled data-interaction="ripple">Button</button>
    </div>
    <div class="flex justify-center">
      <button class="button filled pill indigo" data-interaction="ripple">
        Button
        <span class="button__icon icons material">star</span>
      </button>
    </div>
    <div class="flex justify-center">
      <button class="button filled pill icon-end indigo" data-interaction="ripple">
        Button
        <span class="button__icon icons material">star</span>
      </button>
    </div>
  </div>

  <h3>Call to Action button</h3>

  <div class="grid xs:2 md:4 has-margin">
    <div class="flex justify-center">
      <button class="button cta orange" data-interaction="ripple">
        <span class="button__icon icons material">star</span>
      </button>
    </div>
    <div class="flex justify-center">
      <button class="button cta orange" disabled data-interaction="ripple">
        <span class="button__icon icons material">star</span>
      </button>
    </div>
    <div class="flex justify-center">
      <button class="button cta orange" data-interaction="ripple">
        Button
        <span class="button__icon icons material">star</span>
      </button>
    </div>
    <div class="flex justify-center">
      <button class="button cta icon-end orange" data-interaction="ripple">
        Button
        <span class="button__icon icons material">star</span>
      </button>
    </div>
    <div class="flex justify-center">
      <button class="button cta rounded orange" data-interaction="ripple">
        <span class="button__icon icons material">star</span>
      </button>
    </div>
    <div class="flex justify-center">
      <button class="button cta rounded orange" disabled data-interaction="ripple">
        <span class="button__icon icons material">star</span>
      </button>
    </div>
    <div class="flex justify-center">
      <button class="button cta rounded orange" data-interaction="ripple">
        Button
        <span class="button__icon icons material">star</span>
      </button>
    </div>
    <div class="flex justify-center">
      <button class="button cta rounded icon-end orange" data-interaction="ripple">
        Button
        <span class="button__icon icons material">star</span>
      </button>
    </div>
  </div>

  <h4>Call to Action Mini</h4>

  <div class="grid xs:2 md:4 has-margin">
    <div class="flex justify-center">
      <button class="button cta mini pink" data-interaction="ripple">
        <span class="button__icon icons material">star</span>
      </button>
    </div>
    <div class="flex justify-center">
      <button class="button cta mini pink" disabled data-interaction="ripple">
        <span class="button__icon icons material">star</span>
      </button>
    </div>
    <div class="flex justify-center">
      <button class="button cta mini pink" data-interaction="ripple">
        Button
        <span class="button__icon icons material">star</span>
      </button>
    </div>
    <div class="flex justify-center">
      <button class="button cta mini icon-end pink" data-interaction="ripple">
        Button
        <span class="button__icon icons material">star</span>
      </button>
    </div>
    <div class="flex justify-center">
      <button class="button cta mini rounded pink" data-interaction="ripple">
        <span class="button__icon icons material">star</span>
      </button>
    </div>
    <div class="flex justify-center">
      <button class="button cta mini rounded pink" disabled data-interaction="ripple">
        <span class="button__icon icons material">star</span>
      </button>
    </div>
    <div class="flex justify-center">
      <button class="button cta mini rounded pink" data-interaction="ripple">
        Button
        <span class="button__icon icons material">star</span>
      </button>
    </div>
    <div class="flex justify-center">
      <button class="button cta mini rounded icon-end pink" data-interaction="ripple">
        Button
        <span class="button__icon icons material">star</span>
      </button>
    </div>
  </div>

  <h3>Icon button</h3>

  <div class="grid xs:2 md:6">
    <div class="flex justify-center">
      <button class="button text icon red" data-interaction="ripple" data-bound="true">
        <span class="button__icon icons material">star</span>
      </button>
    </div>
    <div class="flex justify-center">
      <button class="button text icon red" disabled data-interaction="ripple" data-bound="true">
        <span class="button__icon icons material">star</span>
      </button>
    </div>
    <div class="flex justify-center">
      <button class="button outlined icon red" data-interaction="ripple" data-bound="true">
        <span class="button__icon icons material">star</span>
      </button>
    </div>
    <div class="flex justify-center">
      <button class="button outlined icon red" disabled data-interaction="ripple" data-bound="true">
        <span class="button__icon icons material">star</span>
      </button>
    </div>
    <div class="flex justify-center">
      <button class="button filled icon red" data-interaction="ripple" data-bound="true">
        <span class="button__icon icons material">star</span>
      </button>
    </div>
    <div class="flex justify-center">
      <button class="button filled icon red" disabled data-interaction="ripple" data-bound="true">
        <span class="button__icon icons material">star</span>
      </button>
    </div>
  </div>
{% endblock %}
