{% extends "layout/default.html" %}

{% block content %}
  <h1>{{ pageTitle }}</h1>

  <h3>Default</h3>

  <div class="chip-group center">
    <button class="chip" data-interaction="ripple">
      Chip
    </button>
  
    <button class="chip" data-interaction="ripple">
      Chip
      <span class="chip__icon icons material" aria-hidden="true">star</span>
    </button>
  
    <button class="chip" data-interaction="ripple">
      Chip
      <span class="chip__lead" aria-label="Chip count">9</span>
    </button>
  
    <button class="chip" data-interaction="ripple">
      Chip
      <span class="chip__lead" aria-label="Chip count">9</span>
      <span class="chip__icon icons material" aria-hidden="true">info</span>
    </button>
  
    <button class="chip" data-interaction="ripple">
      Chip
      <img class="chip__avatar" src='https://images.unsplash.com/photo-1527980965255-d3b416303d12?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NTgwNzc2NDQ&ixlib=rb-1.2.1&q=80&w=80' alt=''>
    </button>
  </div>

  <h3>Outlined</h3>

  <div class="chip-group center">
    <button class="chip outlined" data-interaction="ripple">
      Chip
    </button>
  
    <button class="chip outlined" data-interaction="ripple">
      Chip
      <span class="chip__icon icons material" aria-hidden="true">star</span>
    </button>
  
    <button class="chip outlined" data-interaction="ripple">
      Chip
      <span class="chip__lead" aria-label="Chip count">9</span>
    </button>
  
    <button class="chip outlined" data-interaction="ripple">
      Chip
      <span class="chip__lead" aria-label="Chip count">9</span>
      <span class="chip__icon icons material" aria-hidden="true">info</span>
    </button>
  
    <button class="chip outlined" data-interaction="ripple">
      Chip
      <img class="chip__avatar" src='https://images.unsplash.com/photo-1527980965255-d3b416303d12?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NTgwNzc2NDQ&ixlib=rb-1.2.1&q=80&w=80' alt=''>
    </button>
  </div>

  <h3>Themed</h3>

  <div class="chip-group center">
    <button class="chip text-blue" data-interaction="ripple">
      Chip
    </button>
  
    <button class="chip text-green" data-interaction="ripple">
      Chip
      <span class="chip__icon icons material" aria-hidden="true">star</span>
    </button>
  
    <button class="chip text-indigo" data-interaction="ripple">
      Chip
      <span class="chip__lead bg-indigo" aria-label="Chip count">9</span>
    </button>
  
    <button class="chip text-pink" data-interaction="ripple">
      Chip
      <span class="chip__lead bg-pink" aria-label="Chip count">9</span>
      <span class="chip__icon icons material" aria-hidden="true">info</span>
    </button>
  
    <button class="chip text-red" data-interaction="ripple">
      Chip
      <img class="chip__avatar" src='https://images.unsplash.com/photo-1527980965255-d3b416303d12?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NTgwNzc2NDQ&ixlib=rb-1.2.1&q=80&w=80' alt=''>
    </button>
  </div>

  <div class="chip-group center">
    <button class="chip outlined text-blue" data-interaction="ripple">
      Chip
    </button>
  
    <button class="chip outlined text-green" data-interaction="ripple">
      Chip
      <span class="chip__icon icons material" aria-hidden="true">star</span>
    </button>
  
    <button class="chip outlined text-indigo" data-interaction="ripple">
      Chip
      <span class="chip__lead bg-indigo" aria-label="Chip count">9</span>
    </button>
  
    <button class="chip outlined text-pink" data-interaction="ripple">
      Chip
      <span class="chip__lead bg-pink" aria-label="Chip count">9</span>
      <span class="chip__icon icons material" aria-hidden="true">info</span>
    </button>
  
    <button class="chip outlined text-red" data-interaction="ripple">
      Chip
      <img class="chip__avatar" src='https://images.unsplash.com/photo-1527980965255-d3b416303d12?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NTgwNzc2NDQ&ixlib=rb-1.2.1&q=80&w=80' alt=''>
    </button>
  </div>
{% endblock %}
