//
// Components Icon SCSS.
// @version 3.0.0
// -------------------------

.icons:where(.material) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: 'Material Icons Round';
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  pointer-events: none;
  font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

.icons:where(.mdi),
.icons:where(.mdi)::before {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 1;
}
