{% extends "layout/default.html" %}

{% block content %}
  <article class="article elevation:2">
    <header class="article__header">
      <h1 class="article__title">Presentation Article</h1>
      <p class="article__description">An article layout template.</p>
      <div class="article__meta center">
        <div>
          <span class="text-mute">by</span> 
          <span class="article__author">Some Author</span>
        </div>
        <div>
          <span class="text-mute">posted</span> 
          <span class="article__posted">1 July, 2022</span>
        </div>
      </div>
    </header>
    <div class="article__underline margin-start indigo" role="presentation"></div>
    <section class="article__content">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, deserunt dignissimos temporibus commodi tenetur consequatur illo consequuntur illum quo accusantium?
        Eum aliquid nemo tenetur consectetur inventore officiis dolorum fuga. Officiis, unde nemo.
        Incidunt, veniam! In vero voluptatibus odit eum quos delectus, accusantium architecto maxime saepe modi consequuntur.
        Esse eveniet libero provident quaerat veniam deserunt, repellendus officia id pariatur labore tempora ut consequuntur placeat odit doloribus commodi hic reiciendis officiis totam dolores sapiente earum reprehenderit? Alias!
      </p>
      <p>
        Rem mollitia ullam dolores cum voluptas quis eos explicabo sed aperiam eveniet ex temporibus minus, placeat fugiat dolorum?
        Asperiores commodi dolorum quaerat quam cum, blanditiis atque id placeat suscipit quia nisi doloribus error dicta quibusdam, rem quasi ad aliquam explicabo ipsum consectetur.
        Harum praesentium doloribus numquam animi consectetur facere debitis omnis consequatur temporibus, voluptas sit, pariatur molestias cumque.
        Quam, et a. Nisi, quam ex ea fugiat maiores, quos culpa est molestias voluptate possimus amet ratione.
      </p>
      <p>
        Reiciendis ducimus eaque sed.
        Nulla ipsum ex, laudantium eligendi amet voluptatibus ratione incidunt esse fugiat dolores!
        Beatae deleniti fugit voluptatibus impedit placeat dolorem velit culpa, ipsam ut ad rem modi iusto natus quod autem, eum tenetur!
        Libero repellat labore laborum sit temporibus aliquam fugit repellendus veniam voluptates, itaque voluptatem aperiam molestias similique iusto?
        Corporis quae, aliquid quas quasi eos harum ullam illum totam nam nostrum reiciendis nesciunt rerum quibusdam quam vitae perferendis.
        Minus, cumque at?
      </p>
      <p>
        Sit explicabo deserunt quidem odio expedita laudantium et, recusandae, quae reiciendis error iste nihil.
        Ex, accusamus. Placeat reprehenderit beatae mollitia blanditiis voluptatibus aspernatur similique veniam quos repellat accusantium a reiciendis facere, perferendis corrupti natus autem dolor excepturi?
        Neque culpa tenetur labore assumenda obcaecati vero consequuntur deleniti!
        Autem nihil aliquam sunt nostrum ratione sequi, est incidunt exercitationem quae cupiditate possimus, in ad impedit veritatis omnis tempora blanditiis repellat laudantium alias odit, ut accusamus delectus! Quaerat, est?
      </p>
    </section>
    <div class="article__underline margin-end pink" role="presentation"></div>
    <footer class="article__footer">
      <div class="article__categories">
        <span class="text-mute">posted in</span>
        <a href="#" class="chip">Articles</a>
        <a href="#" class="chip">News</a>
        <a href="#" class="chip">Posts</a>
        <a href="#" class="chip">Updates</a>
      </div>
      <div class="article__share">
        <button class="button filled icon facebook" data-interaction="ripple" data-bound="true">
          <i class="icons mdi mdi-facebook"></i>
        </button>
        <button class="button filled icon twitter" data-interaction="ripple" data-bound="true">
          <i class="icons mdi mdi-twitter"></i>
        </button>
        <button class="button filled icon instagram" data-interaction="ripple" data-bound="true">
          <i class="icons mdi mdi-instagram"></i>
        </button>
        <button class="button filled icon youtube" data-interaction="ripple" data-bound="true">
          <i class="icons mdi mdi-youtube"></i>
        </button>
      </div>
    </footer>
  </article>
{% endblock %}
