{% extends "layout/default.html" %}

{% block content %}
  <h1>{{ pageTitle }}</h1>

  <div class="banner has-offset white">
    <h4 class="h3">Presentation Banner</h4>
    <p class="fluid-fz:600">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Commodi, exercitationem fuga eum labore dolorem deserunt veniam voluptas vero, accusantium non tempora tenetur iure blanditiis odio!
      Aut molestiae totam rem magni!
    </p>
  </div>

  <div class="banner has-offset red">
    <h4 class="h3">Presentation Banner</h4>
    <p class="fluid-fz:600">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      Nihil qui maxime animi quaerat deserunt omnis voluptatum ipsam vel provident repellendus.
    </p>
  </div>

  <div class="banner has-offset has-margin blue">
    <h4 class="h3">Presentation Banner</h4>
    <p class="fluid-fz:600">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Quod, ea praesentium?
      Facere soluta, quibusdam id rerum voluptatibus, explicabo dicta aspernatur optio, nihil cumque pariatur ex!
    </p>
  </div>
{% endblock %}
