{% extends "layout/default.html" %}

{% block content %}
  <h1>{{ pageTitle }}</h1>

  <div class="highlight has-offset has-margin indigo">
    <div class="highlight__background">
      <h3 class="highlight__title">Lorem ipsum dolor</h3>
      <p class="highlight__title">sit amet consectetur adipisicing.</p>
    </div>
    <div class="highlight__content">
      <div class="card filled:light">
        <div class="card__content">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Maxime sint alias doloribus culpa explicabo, corrupti fuga!
          Tenetur odit ducimus amet.
        </div>
      </div>
    </div>
  </div>

  <div class="highlight split has-offset has-margin pink">
    <div class="highlight__background">
      <h3 class="highlight__title">Lorem ipsum dolor</h3>
      <p class="highlight__title">sit amet consectetur adipisicing.</p>
    </div>
    <div class="highlight__content">
      <div class="card filled:light">
        <div class="card__content">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Maxime sint alias doloribus culpa explicabo, corrupti fuga!
          Tenetur odit ducimus amet.
        </div>
      </div>
    </div>
  </div>

  <div class="highlight expanded has-offset has-margin orange">
    <div class="highlight__background">
      <h3 class="highlight__title">Lorem ipsum dolor</h3>
      <p class="highlight__title">sit amet consectetur adipisicing.</p>
    </div>
    <div class="highlight__content">
      <div class="card filled:light">
        <div class="card__content">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Maxime sint alias doloribus culpa explicabo, corrupti fuga!
          Tenetur odit ducimus amet.
        </div>
      </div>
    </div>
  </div>
{% endblock %}
