//
// Components Interaction Variables SCSS.
// @version 3.0.0
// -------------------------

$interaction-bd-width: .0625rem;

$interaction-animation-fill-opacity: .2;
$interaction-animation-fill-in-duration: 300ms;
$interaction-animation-fill-out-duration: 200ms;

$interaction-animation-stroke-opacity: .56;
$interaction-animation-stroke-duration: 400ms;

$interaction-animation-ripple-in-duration: 300ms;
$interaction-animation-ripple-out-duration: 200ms;
