//
// Components Base SCSS.
// @version 3.0.0
// -------------------------

@use "variables" as *;
@use "../theme/mixins" as theme-mixin;

// Document.
// -------------------------

html {
  @include theme-mixin.style-scrollbar(
    $crollbar-track-color, $crollbar-thumb-color, true
  )
}

// Body.
// -------------------------

body {
  font-family: $body-ff;
  color: $body-fg-color;
  background-color: $body-bg-color;
}
